body {
    font-family: 'Righteous'
}
header {
    display: flex;
    height: 100px;
    background-color: lightblue;    
    align-items: center;
    justify-content: center;
}
main {
    border: 2px solid black;
    max-width: 50vw;
    margin: 1em auto;
    border-radius: 5px;
    padding: 0.5em 1.5em;
    text-align: center;
}

span {
    font-size: 55px;
}
.persegi {
    text-align: center;
    padding: 10px;
    background-color: aquamarine;
}
.panjang {
    text-align: center;
    padding: 10px;
}
.title-color {
    font-size: 30px;
    display: flex;
    height: 100px;
    background-color: lightblue;    
    align-items: center;
    justify-content: center;
}
.description {
    text-align: left;
}
.title {
    font-size: 30px;
    display: flex;
    height: 100px;    
    align-items: center;
    justify-content: center;
}
#number {
    width: 95%;
    height: 50px;
    border: 2px solid;
    border-radius: 5px;
}
.button-submit, .button-reset {
    display: flex;
    padding: 10px;
    width: 70px;
    background-color: aqua;
    max-width: 150px;
    margin: 15px auto;
    color: black;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    justify-content: center;
}
.button-submit:hover {
    background-color: blue;
}
.button-submit:active {
    transform: translateY(2px);
}
.button-reset:hover {
    background-color: blue;
}
.button-reset:active {
    transform: translateY(2px);
}

.button-nav {
    margin: 1px auto;
    height: 20px;
    display: flex;
    background-color: aqua;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    width: 95%;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    flex-direction: row;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
    border: 2px solid;
}
.button-nav:hover {
    background-color: blue;
}